# The Google Domains credentials for your domain
AUTH_USER=user
AUTH_PASS=pass

# Your domain
DOMAIN=subdomain.mydomain.tld

# A writable directory for scratch and persistent status.
# Default is the runtime directory of the script.
#CACHE_DIR=/home/user/gddyndns

# How long wait to update again if Google returns an error.
# Use 'h' for hours and 'm' for minutes.  Default is 24h.
#LOCKOUT_TIME=24h
